* {
    background-color: beige;
}

header {
    text-align: center;
    margin-top: 20px;
}

nav>a {
    margin-right: 30px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

div {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: brown;
    font-style: italic;
}

footer>p {
    color: brown;
}

div {
    background-attachment: fixed;
}